DW_SCHEMA=schema_name
DATABASE_URL=postgresql://username:password@localhost:port/database_name
FMP_API_KEY=your_fmp_api_key
DATABASE_HOST=localhost
DATABASE_PORT=port
DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_NAME=database_name